server {
    listen 80;
    listen [::]:80;
    server_name washipo.nyoho.jp;
    root /var/www/washipo.nyoho.jp;
    location /.well-known/acme-challenge/ { allow all; }
    location / { return 301 https://$host$request_uri; }
}

server {
    listen 443 ssl;

    root /var/www/washipo.nyoho.jp;
    index index.html index.htm;

        ssl on;
        ssl_certificate /etc/letsencrypt/live/washipo.nyoho.jp/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/washipo.nyoho.jp/privkey.pem;

        server_name washipo.nyoho.jp;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;
        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:128m;
        ssl_dhparam /etc/nginx/dhparams.pem;
        add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains;';

        add_header X-Content-Type-Options "nosniff";
        add_header X-Xss-Protection "1";

        ssl_stapling on;
        ssl_stapling_verify on;
        ssl_trusted_certificate /etc/letsencrypt/live/washipo.nyoho.jp/fullchain.pem;
        resolver 8.8.8.8;

        access_log /var/log/nginx/washipo.nyoho.jp-access.log ltsv;
        error_log /var/log/nginx/washipo.nyoho.jp-error.log;

	# include /var/www/washipo.nyoho.jp/return-setting.conf;
}
