[Unit]
Description=tDiary

[Service]
Type=simple
User={{ username }}
Group={{ username }}
WorkingDirectory=/home/{{ username }}/var/tdiary/wy
ExecStart=/bin/bash -lc 'bundle exec unicorn -c unicorn.rb -E production'
TimeoutSec=30
Restart=always
                                                                                                    [Install]
WantedBy=multi-user.target
